<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<header th:replace="~{layout :: header}"></header>
<main>
    <div class="grid-container">
        <form class="filter" th:attr="action=@{/book/index}" method="get">
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
            <input type="text" placeholder="Category Name..." name="name" th:value="${name}">
            <button type="submit" class="blue-button">Search</button>
        </form>
        <a class="blue-button create-button" th:href="@{/book/upsertCategoryForm}">Add New Category</a>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Category</th>
                <th>Floor</th>
                <th>Isle</th>
                <th>Bay</th>
                <th>Total Books</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dataRow : ${dataTable}" th:object="${dataRow}">
                <td>
                    <a class="blue-button" th:href="@{/book/category(categoryName=*{name})}">Books</a>
                    <a class="blue-button" th:href="@{/book/upsertCategoryForm(categoryName=*{name})}">Edit</a>
                    <a class="blue-button" th:href="@{/book/deleteCategory(categoryName=*{name})}">Delete</a>
                </td>
                <td th:text="*{name}"></td>
                <td th:text="*{floor}"></td>
                <td th:text="*{isle}"></td>
                <td th:text="*{bay}"></td>
                <td th:text="*{totalBooks}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div th:if="${totalPages != 0}">
                            <a th:each="loop:${#numbers.sequence(1, totalPages)}"
                               th:href="@{/category/index(page=${loop},name=${name})}" th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</main>
</body>
</html>