<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<header th:replace="~{layout :: header}"></header>
<main>
  <div class="grid-container">
    <a class="blue-button create-button" th:href="@{/book}">Back to Category </a>
    <form class="filter" th:attr="action=@{/book/category}" method="get">
<!--      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
      <input type="hidden" name="categoryName" th:value="${category}">
      <input type="text" placeholder="Title ..." name="title" th:value="${title}">
      <input type="text" placeholder="Author ..." name="author" th:value="${author}">
      <button type="submit" class="blue-button">Search</button>
    </form>

      <span>List of <span th:text="${category}"></span> Books </span>

    <a class="blue-button create-button" th:href="@{/book/upsertBookForm(categoryName=${category})}">Add New <span th:text="${category}"> </span> Books </a>
    <table>
      <thead>
      <tr>
        <th>Action</th>
        <th>Book Title</th>
        <th>Author</th>
        <th>Is Borrowed</th>
        <th>Release Date</th>
        <th>Total Page</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dataRow : ${dataTable}" th:object="${dataRow}">
        <td>
          <a class="blue-button" th:href="@{/book/upsertBookForm(code=*{code})}">Edit</a>
          <a class="blue-button" th:href="@{/book/deleteBook(code=*{code})}">Delete</a>
        </td>
        <td th:text="*{title}"></td>
        <td th:text="*{author}"></td>
        <td th:text="*{status}"></td>
        <td th:text="*{releaseDate}"></td>
        <td th:text="*{totalPage}"></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6">
          <div class="pagination">
            <div th:text="|page ${currentPage} of ${totalPages}|"></div>
            <div th:if="${totalPages != 0}">
              <a th:each="loop:${#numbers.sequence(1, totalPages)}"
                 th:href="@{/category/index(page=${loop},name=${name})}" th:text="${loop}"></a>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</main>
</body>
</html>