<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<header th:replace="~{layout :: header}"></header>
<main>
    <div class="landing-page">
        <h1>Winterhold Library</h1>
        <p>Knowledge is the best weapon you have, please</p>
        <p>find some fascinating books we have.</p>
        <p>This app will help you do that, as long as you</p>
        <p>keep extend your membership!</p>
        <p>(its totally free)</p>

    </div>

</main>
</body>
</html>